
body {
    background-image: url('/img/background/so-white.png');
    background-repeat: repeat;
    font-family: "Times New Roman", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.w3-content-width {
    max-width: 1100px;
}

.header-image {
    max-width: 1200px;
    min-width: 400px
}

.article-title {
    letter-spacing: 4px;
}

.title-span {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    color: #555;
}

.custom-article-text {
    color: #555 !important;
}

.article-content {
    line-height: 1.6;
    font-size: 16px;
}

.article-content img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
}

.topbar-logo {
    max-height: 50px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.logo-and-title {
    display: flex;
    align-items: center;
}

.blog-title {
    font-family: 'Bad Script', cursive;
    font-size: 1.5rem;    /* dostosuj według potrzeb */
    color: #555;
    margin-left: 0.5rem;
}

.comments-separator {
    border: none;
    border-top: 1px solid #ddd;
    margin: 2rem 0;
}

.comments-title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #333;
}

.comment-item {
    /* możesz dodać flex, avatar itp. */
}

.comment-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.comment-form h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.flash-message {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-radius: 0.5rem;
    z-index: 9999;
    opacity: 0.95;
    transition: opacity 0.3s;
}

.comments-header {
    margin-bottom: 0.25rem;
}

.comments-subtitle {
    margin-top: 0;
    opacity: 0.6;
}

.comment-date {
    font-size: 0.7rem;
    color: #555;
}

.comments-list {
    padding-top: 35px;
}

.image-box {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
}

.gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-box:hover .gallery-image {
    transform: scale(1.05) rotate(1deg);
}

.center-top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: 1;
}

.w3-bar .w3-bar-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.w3-bar .w3-bar-item:hover {
    background-color: transparent !important;
    color: #333 !important;
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about_me_image {
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#blog-map {
    height: 80vh;
    width: 100%;
}

/*likwiduje X w info nad markerami w mapie google*/
.gm-style-iw-c button.gm-ui-hover-effect {
    display: none !important;
}

.infowindow-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20px;
    padding-left: 10px;
}

figure.image {
    display: inline-block;
    margin: 1.5em auto;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

figure.image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

figure.image figcaption {
    margin-top: 8px;
    font-size: 0.95em;
    color: #555;
    font-style: italic;
    line-height: 1.4;
}
 /*ramka dla zdjęcia bez podpisu dla ujednolicenia wyglądu elementu img*/
img:not(figure img) {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin: 1.5em auto;
}








